.secret-section{
    width: 100%;
    /* background-color: antiquewhite; */
    margin-top: 4rem;
}
.secret-section h1{
    text-align: center;
    color: white;
    font-size: ;
}
.secret-section h3{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 500;
}