.secret-section{
    width: 100%;
    /* background-color: antiquewhite; */
    margin-top: 4rem;
}
.secret-section h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
.secret-section h3{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 500;
}


.confession-container {
    margin: 6rem 0;
    max-width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 3px rgba(146, 51, 234, 0.311);
    transition: all 0.3s linear;
  }
  
  .post-conf {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 12%;
  }
  
  .confession-container:hover {
    box-shadow: 0 3px 4px 3px rgba(146, 51, 234, 0.539);
  }
  
  .confession-container .confession-title {
    color: #9333ea;
    text-align: center;
    margin: 2rem;
  }
  
  .confession-container textarea {
    width: 80%;
    display: block;
    margin: 0 auto 3rem;
    border-radius: 5px;
    min-height: 150px;
    font-size: 20px;
    color: white;
    resize: none;
    padding: 5px;
    background-color: black;
  }
  
  .confession-container button {
    width: 80%;
    display: block;
    margin: 0 auto 2rem;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(90deg, #8750f7 0%, #2a1454 51%, #8750f7 100%);
    background-size: 200%;
    transition: background-position 0.4s ease-in-out, color 0.3s ease-in-out;
    border-radius: 50px;
    color: white;
    outline: 0;
    border: 0;
  }
  
  .confession-container button:hover {
    background-position: right center;
    color: white;
    box-shadow: 0 4px 20px rgba(136, 80, 247, 0.4);
    background: transparent;
    color: #8750f7;
    border: 1px solid white;
  }
  
  .box-container {
    margin-top: 20px;
  }
  
  .box {
    width: 500px;
    max-height: 200px;
    background-color: #222031;
    border: 1px solid rgb(102, 99, 99);
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin: 2rem;
    padding: 10px;
    text-align: left;
    overflow-y: auto;
    /* font-size: 28px; */
    word-break: break-word;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .user-info {
    /* font-size: 14px; */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bbb;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .confession-text {
    font-size: 18px;
    margin: 20px 0 0;
    color: white;
    /* opacity: 0.8; */
  }
  