<div class="secret-section">
    <h1 class="secret-title">
        Share Your Secret Message 🔐
    </h1>
    <h3>Send an anonymous message. Your identity remains hidden. Be honest, be kind!</h3>

    <div class="post-conf">
        <div class="confession-container">
          <h2 class="confession-title">🔮 Confessions of a Hidden Soul</h2>
          <textarea [(ngModel)]="textBox" placeholder="Write your confessions here..."></textarea>
          <button (click)="onSave()">Post Confession</button>
        </div>
        <div class="box-container">
          <div class="box" *ngFor="let confession of confessions">
            <div class="user-info">
              <p>#{{ confession.userId }} </p>  <span class="timestamp">{{ confession.timestamp }}</span>
            </div>
            <p class="confession-text">{{ confession.text }}</p>
          </div>
        </div>
    </div>
</div>